@import '../../styles/styleVariables';

.container {
  margin: 16px 0;
  width: 100%;
}

.header {
  color: $spanishGray;
  text-transform: uppercase;
}

.option {
  margin-top: 10px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  color: $arsenic;

  &:hover {
    font-weight: $fontHeavy;
    color: $brightNavyBlue;
  }
}
