@import '../../styles/styleVariables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid 1px $platinum;
}

.filterOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  box-shadow: $boxShadowLight;
}

.months {
  margin-right: 20px;
}

.chartContainer {
  padding: 20px;
  min-height: 240px;
  display: flex;
  align-items: center;
}

.smallWidgets {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
}
