@import '../../styles/styleVariables';

.headerWidget {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: solid 1px $platinum;
}

.filterOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  box-shadow: $boxShadowLight;
}

.months {
  margin-right: 20px;
}

.chartContainer {
  padding: 20px;
}

:global(.dailyVisitorsChartContainer .recharts-cartesian-grid-horizontal line:nth-last-child(2)) {
  stroke-opacity: 0;
}

:global(.recharts-bar-rectangle path:hover) {
  fill: #1A56AD;
  stroke: #0039A7;
}

.tooltipContainer {
  background-color: white;
  border: solid 1px $platinum;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  text-align: center;

  .date {
    color: $spanishGray;
    text-transform: uppercase;
  }

  .visitsContainer {
    display: flex;
    align-items: center;
  }

  .legend {
    height: 4px;
    width: 4px;
    border-radius: 8px;
    background-color: #1A56AD;
    margin-right: 5px;
  }

  .label {
    margin-right: 15px;
  }
}
