$headerHeight: 80px;
$navBarWidth: 20%;
$mainContentPadding: 32px;

$fontLight: 300;
$fontHeavy: 600;

$platinum: #e2e5ee;
$snow: #fbfbfd;
$arsenic: #3e3f43;
$outerSpace: #47474a;
$spanishGray: #93949a;
