$componentBorder: #e2e5ee;
$headerHeight: 80px;
$navBarWidth: 20%;
$appBackground: #FBFBFD;
$mainContentPadding: 32px;

$basicFontColor: #3e3f43;
$secondaryFontColor: #47474a;
$lightFontColor: #93949a;
$fontLight: 300;
$fontHeavy: 600;
