@import '../../styles/styleVariables';

nav {
  width: $navBarWidth;
  @media screen and (min-width: 1050px) {
    width: $navBarWidthLarge;
  }
  border-right: solid 1px $platinum;
  display: flex;
  flex-direction: column;
}

.home {
  height: $headerHeight;
  color: $spanishGray;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: solid 1px $platinum;
  border-radius: 0;

  &:last-child {
    border-bottom: none;
  }
}

.secondaryOption {
  margin: 0 28px;
  font-size: 14px;
}

.scrollable {
  flex: 1;
  overflow: auto;
}
