@import '../../styles/styleVariables';

$elementMargin: 12px;
$iconSize: 16px;
$labelMarginLeft: 10px;
$headerFontSize: 14px;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $elementMargin 0;
}

.controlIcons {
  display: flex;
  flex-direction: column;
  height: 22px;
  font-size: 10px;
  color: $spanishGray;
  justify-content: center;
  margin-left: auto;
}

.headerIcon {
  font-size: $iconSize;
  width: $iconSize !important;
}

.headerLabel {
  margin-left: $labelMarginLeft;
  font-size: $headerFontSize;
}

.options {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: max-height 300ms ease-out;
  visibility: hidden;

  &.isOpen {
    max-height: 120px;
  }

  &.isContentVisible {
    visibility: visible;
  }
}

.option {
  margin-left: calc(#{$iconSize} + #{$labelMarginLeft});
  font-size: calc(#{$headerFontSize} - 2px);
  text-align: left;
  margin-top: $elementMargin;
  color: $spanishGray;

  &:hover {
    font-weight: $fontHeavy;
    color: $brightNavyBlue;
  }
}

.header {
  display: flex;
  align-items: center;
  margin: 0;
  color: $arsenic;

  &.isOpen {
    font-weight: $fontHeavy;

    .headerIcon {
      color: $brightNavyBlue;
    }
  }
}
